master/staticfiles/admin/css/autocomplete.css
master/staticfiles/admin/css/base.css
master/staticfiles/admin/css/changelists.css
master/staticfiles/admin/css/dark_mode.css
master/staticfiles/admin/css/dashboard.css
master/staticfiles/admin/css/forms.css
master/staticfiles/admin/css/login.css
master/staticfiles/admin/css/nav_sidebar.css
master/staticfiles/admin/css/responsive_rtl.css
master/staticfiles/admin/css/responsive.css
master/staticfiles/admin/css/rtl.css
master/staticfiles/admin/css/widgets.css
master/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
master/staticfiles/admin/css/vendor/select2/select2.css
master/staticfiles/admin/css/vendor/select2/select2.min.css
master/staticfiles/admin/img/calendar-icons.svg
master/staticfiles/admin/img/icon-addlink.svg
master/staticfiles/admin/img/icon-alert.svg
master/staticfiles/admin/img/icon-calendar.svg
master/staticfiles/admin/img/icon-changelink.svg
master/staticfiles/admin/img/icon-clock.svg
master/staticfiles/admin/img/icon-deletelink.svg
master/staticfiles/admin/img/icon-no.svg
master/staticfiles/admin/img/icon-unknown-alt.svg
master/staticfiles/admin/img/icon-unknown.svg
master/staticfiles/admin/img/icon-viewlink.svg
master/staticfiles/admin/img/icon-yes.svg
master/staticfiles/admin/img/inline-delete.svg
master/staticfiles/admin/img/LICENSE
master/staticfiles/admin/img/README.txt
master/staticfiles/admin/img/search.svg
master/staticfiles/admin/img/selector-icons.svg
master/staticfiles/admin/img/sorting-icons.svg
master/staticfiles/admin/img/tooltag-add.svg
master/staticfiles/admin/img/tooltag-arrowright.svg
master/staticfiles/admin/js/actions.js
master/staticfiles/admin/js/autocomplete.js
master/staticfiles/admin/js/calendar.js
master/staticfiles/admin/js/cancel.js
master/staticfiles/admin/js/change_form.js
master/staticfiles/admin/js/collapse.js
master/staticfiles/admin/js/core.js
master/staticfiles/admin/js/filters.js
master/staticfiles/admin/js/inlines.js
master/staticfiles/admin/js/jquery.init.js
master/staticfiles/admin/js/nav_sidebar.js
master/staticfiles/admin/js/popup_response.js
master/staticfiles/admin/js/prepopulate_init.js
master/staticfiles/admin/js/prepopulate.js
master/staticfiles/admin/js/SelectBox.js
master/staticfiles/admin/js/SelectFilter2.js
master/staticfiles/admin/js/theme.js
master/staticfiles/admin/js/urlify.js
master/staticfiles/admin/js/admin/DateTimeShortcuts.js
master/staticfiles/admin/js/admin/RelatedObjectLookups.js
master/staticfiles/admin/js/vendor/jquery/jquery.js
master/staticfiles/admin/js/vendor/jquery/jquery.min.js
master/staticfiles/admin/js/vendor/jquery/LICENSE.txt
master/staticfiles/admin/js/vendor/select2/LICENSE.md
master/staticfiles/admin/js/vendor/select2/select2.full.js
master/staticfiles/admin/js/vendor/select2/select2.full.min.js
master/staticfiles/admin/js/vendor/select2/i18n/af.js
master/staticfiles/admin/js/vendor/select2/i18n/ar.js
master/staticfiles/admin/js/vendor/select2/i18n/az.js
master/staticfiles/admin/js/vendor/select2/i18n/bg.js
master/staticfiles/admin/js/vendor/select2/i18n/bn.js
master/staticfiles/admin/js/vendor/select2/i18n/bs.js
master/staticfiles/admin/js/vendor/select2/i18n/ca.js
master/staticfiles/admin/js/vendor/select2/i18n/cs.js
master/staticfiles/admin/js/vendor/select2/i18n/da.js
master/staticfiles/admin/js/vendor/select2/i18n/de.js
master/staticfiles/admin/js/vendor/select2/i18n/dsb.js
master/staticfiles/admin/js/vendor/select2/i18n/el.js
master/staticfiles/admin/js/vendor/select2/i18n/en.js
master/staticfiles/admin/js/vendor/select2/i18n/es.js
master/staticfiles/admin/js/vendor/select2/i18n/et.js
master/staticfiles/admin/js/vendor/select2/i18n/eu.js
master/staticfiles/admin/js/vendor/select2/i18n/fa.js
master/staticfiles/admin/js/vendor/select2/i18n/fi.js
master/staticfiles/admin/js/vendor/select2/i18n/fr.js
master/staticfiles/admin/js/vendor/select2/i18n/gl.js
master/staticfiles/admin/js/vendor/select2/i18n/he.js
master/staticfiles/admin/js/vendor/select2/i18n/hi.js
master/staticfiles/admin/js/vendor/select2/i18n/hr.js
master/staticfiles/admin/js/vendor/select2/i18n/hsb.js
master/staticfiles/admin/js/vendor/select2/i18n/hu.js
master/staticfiles/admin/js/vendor/select2/i18n/hy.js
master/staticfiles/admin/js/vendor/select2/i18n/id.js
master/staticfiles/admin/js/vendor/select2/i18n/is.js
master/staticfiles/admin/js/vendor/select2/i18n/it.js
master/staticfiles/admin/js/vendor/select2/i18n/ja.js
master/staticfiles/admin/js/vendor/select2/i18n/ka.js
master/staticfiles/admin/js/vendor/select2/i18n/km.js
master/staticfiles/admin/js/vendor/select2/i18n/ko.js
master/staticfiles/admin/js/vendor/select2/i18n/lt.js
master/staticfiles/admin/js/vendor/select2/i18n/lv.js
master/staticfiles/admin/js/vendor/select2/i18n/mk.js
master/staticfiles/admin/js/vendor/select2/i18n/ms.js
master/staticfiles/admin/js/vendor/select2/i18n/nb.js
master/staticfiles/admin/js/vendor/select2/i18n/ne.js
master/staticfiles/admin/js/vendor/select2/i18n/nl.js
master/staticfiles/admin/js/vendor/select2/i18n/pl.js
master/staticfiles/admin/js/vendor/select2/i18n/ps.js
master/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
master/staticfiles/admin/js/vendor/select2/i18n/pt.js
master/staticfiles/admin/js/vendor/select2/i18n/ro.js
master/staticfiles/admin/js/vendor/select2/i18n/ru.js
master/staticfiles/admin/js/vendor/select2/i18n/sk.js
master/staticfiles/admin/js/vendor/select2/i18n/sl.js
master/staticfiles/admin/js/vendor/select2/i18n/sq.js
master/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
master/staticfiles/admin/js/vendor/select2/i18n/sr.js
master/staticfiles/admin/js/vendor/select2/i18n/sv.js
master/staticfiles/admin/js/vendor/select2/i18n/th.js
master/staticfiles/admin/js/vendor/select2/i18n/tk.js
master/staticfiles/admin/js/vendor/select2/i18n/tr.js
master/staticfiles/admin/js/vendor/select2/i18n/uk.js
master/staticfiles/admin/js/vendor/select2/i18n/vi.js
master/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
master/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
master/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
master/staticfiles/admin/js/vendor/xregexp/xregexp.js
master/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
