{% extends 'base.html' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div class="navbar">
    <div class="logo">MySocialApp</div>
    <div class="nav-links">
        <a href="{% url 'logout' %}">Déconnexion</a>
    </div>
</div>

<div class="container">
    <div class="text-container">
        <div class="title">
            <h2>Bienvenue !</h2>
        </div>
        <p>Ceci est votre tableau de bord. Vous pouvez gérer vos serveurs.</p>
        <div class="action-buttons">
            <a href="/deploy"><button>Lancer un nouveau serveur</button></a>
        </div>
    </div>
    {% if user.is_superuser %}
        <!-- Vous pouvez ajouter des éléments spécifiques pour les superusers ici -->
    {% endif %}
</div>
{% endblock %}